.author-info-sb,
.validated-by-sb {
  @extend .sidebar-box-border;

  .about {
    margin-bottom: $margin-between-boxes;
    span {
      font-weight: 600;
    }
  }

  .sb-author-flex {
    display: flex;
    align-items: center;
    margin-bottom: $margin-between-boxes;

    .avatar {
      width: var(--lumo-size-l);
      height: var(--lumo-size-l);
      border-radius: 999px;
    }

    .right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: var(--lumo-space-s);
      font-size: var(--lumo-font-size-s);
      a {
        font-weight: 600;
        color: var(--lumo-contrast);
      }
    }
  }
}
