// @todo: CSS -> SCSS syntax
:focus {
  outline: 0;
}
.fs-arrow {
  width: 0;
  height: 0;
  border-left: var(--lumo-space-xs) solid transparent;
  border-right: var(--lumo-space-xs) solid transparent;
  border-top: var(--lumo-space-xs) solid var(--lumo-header-text-color);
  position: absolute;
  top: 0;
  right: var(--lumo-space-xs);
  bottom: 0;
  margin: auto;
  transition: ease-in 0.15s;
}

.combo-label {
  display:block;
}
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list select.items {
  padding: var(--lumo-space-s);
  font-size: var(--lumo-font-size-m);
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-top: var(--lumo-space-xs);
  padding-right: calc(var(--lumo-space-xl) * 2.5);
  padding-bottom: var(--lumo-space-xs);
  padding-left: var(--lumo-space-s);
  /*  padding: 5px 50px 5px 10px; */
  border: 1px solid  var(--lumo-secondary-text-color);
}


.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid  var(--lumo-secondary-text-color);
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .items {
  display: block;
}
