:host > div {
  display: flex;
  flex-direction: column;
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-m);
  font-weight: 500;
  color: var(--lumo-contrast);

  > div {
    padding-top: var(--lumo-space-m);
    padding-left: calc(var(--lumo-space-xs) * 1.5);
  }

  [counter] {
    font-weight: 700;
  }

  .checked {
    color: var(--lumo-primary-color);
  }

  .vote {
    iron-icon {
      width: var(--lumo-icon-size-m);
      height: var(--lumo-icon-size-m);
      font-size: var(--lumo-font-size-s);
    }

    span {
      margin-left: var(--lumo-space-s);
      line-height: var(--lumo-line-height-xs);
    }
  }

  .vote:hover {
    &:not(.checked) {
      color: var(--lumo-contrast-80pct);
    }

    cursor: pointer;
  }
}
