@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "../mixins";

$standard-margin: 16px;
$medium-margin: 24px;
$large-margin: 32px;

cxl-adeft-accordion {
  vaadin-vertical-layout {
    display: flex;
  }

  --lumo-line-height-m: 20px;
  --lumo-line-height-xs: 20px;
  margin-bottom: $standard-margin;

  &[widened] {
    margin-right: -#{$standard-margin - 1};
    margin-left: -#{$standard-margin - 1};
  }

  @media #{mq.$medium} {
    &[widened] {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .item-content {
    padding: $standard-margin $standard-margin / 2;
    letter-spacing: 0.25px;
  }

  .accordion-summary {
    display: flex;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $large-margin;
      min-width: $large-margin;
      border-radius: 4px 0 0 4px;
    }
    .right {
      width: calc(100% - #{$large-margin});
      padding: $standard-margin;
      .summary-top {
        padding: 5px;
        &.checked {
          text-decoration: line-through;
        }
      }
    }
  }
}
